<!DOCTYPE html>
<html class="no-js">
<head>
  <title>Cookbook</title>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'modernizr' %>
  <%= render 'layouts/typekit' %>
</head>

<%= content_tag :body, data: { module: controller_name, action: action_name } do %>
<section class="app">
  <div class="app-notifier js-notifier"></div>
  <header class="app-header">
    <div class="app-header_title l-wrap">
      <%= link_to "Cookbook", root_path, class: "app-header_title-link" %>
    </div>
    <%= button_tag class: "app-header_nav-menu js-menu" do %>
      <span>Menu</span>
    <% end %>
  </header>
  <nav class="app-header_nav nav" bb-el="navigation">
    <section class="nav-section nav-section_main">
      <%= link_to "Recipes", root_path, class: "nav-item #{active_path(root_path)}" %> 
      <%= link_to "Cooks", users_path,  class: "nav-item #{active_path(users_path)}"  %> 
    </section>
    <section class="nav-section nav-section_user">
      <%= link_to @current_user, @current_user, class: "nav-item nav-item_head #{active_path(@current_user)}" %> 
      <%= link_to user_recipes_path(@current_user), class: "nav-item #{active_path(user_recipes_path(@current_user))}" do %> 
        Recipes 
        <span class="count"><%= @current_user.recipes.length %></span>
      <% end %>
      <%= link_to user_favourites_path(@current_user), class: "nav-item #{active_path(user_favourites_path(@current_user))}" do %>
        Favourites
        <span class="count"><%= @current_user.favourites.length %></span>
      <% end %>
    </section>
  </nav>
  <section class="app-content">
    <%= yield %>
  </section>
</section>
  <%= javascript_include_tag 'application' %>
<% end %>

</html>
