<!DOCTYPE html>
<html class="no-js">
<head>
  <title>Cookbook</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'modernizr' %>
</head>

<%= content_tag :body, data: { module: controller_name, action: action_name } do %>
<section class="app">
  <header class="app-header">
    <div class="notifier"></div>
    <%= link_to "Cookbook", root_path, class: "app-header_title" %>
    <nav class="app-header_nav">
      <%= link_to "Recipes", root_path %> 
      <%= link_to "Users", users_path %> 
      <%= link_to @current_user, @current_user %>
    </nav>
  </header>
  <section class="app-content">
    <%= yield %>
  </section>
  <footer class="app-footer">
  </footer>
</section>
  <%= javascript_include_tag 'application' %>
<% end %>

</html>
